* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}


//NAV

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	overflow: hidden;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 8px;
	z-index: 100;
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		background-color: rgb(255, 255, 255);
		transition: width 0.3s;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

.nav-mobile {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	height: 100vh;
	width: 100%;
	z-index: 10;
	background: linear-gradient(
		0deg,
		rgba(35, 78, 47, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	&--active {
		transform: translateX(0);
	}

	ul {
		list-style: none;
	}
	a {
		text-align: center;
		text-transform: uppercase;
		display: block;
		margin: 1em 0;
		padding: 1em 2em;
		color: white;
		text-decoration: none;
		font-size: 2.8rem;
	}
}

.nav-desktop {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 5em;
	z-index: 2;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgb(131, 130, 130);
	&__logo {
		padding-left: 5em;
		font-size: 3rem;
	}
	ul {
		list-style: none;
		li {
			margin-right: 5em;
			a {
				transition: background-color 0.5s;
				color: rgb(0, 0, 0);
				text-decoration: none;
				font-size: 2.5rem;
				padding: 1em 1em;
			}
			a:hover {
				color: rgb(255, 255, 255);
				background-color: rgb(0, 0, 0);
			}
		}
	}
}

//HEADER

.header {
	margin-bottom: 1em;
	&__img {
		position: relative;
		background-image: url(../img/stairs.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: scroll;
		height: 50vh;
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__text {
		position: absolute;
		font-size: 1.5rem;
		top: 50%;
		left: 30%;
		transform: translate(-30%, -50%);
		text-align: left;
		color: #fff;
	}
}

//ABOUT

.about {
	margin-bottom: 1em;
	h2 {
		text-align: center;
		margin-bottom: 1em;
		font-weight: 200;
	}
	h3 {
		text-align: center;
		margin: 1em;
	}
	&__img {
		background-image: url(../img/water_forest.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: scroll;
		height: 200px;
	}
	&__text {
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
	}
}

//SEPARATION

.separation {
	margin-bottom: 1em;
	&__img {
		position: relative;
		background-image: url(../img/girl.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: scroll;
		height: 120px;
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__text {
		position: absolute;
		font-size: 1.2rem;
		padding: 1em;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid white;
		color: #fff;
	}
}

.offer {
	margin-bottom: 1em;
	h2 {
		text-align: center;
		margin-bottom: 1em;
		font-weight: 200;
	}
	h3 {
		text-align: center;
		margin: 1em;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__page {
		text-align: center;
		padding: 2em;
		font-size: 3rem;
		&-btn {
			font-size: 1.5rem;
			margin-top: 1.5em;
			padding: 0.5em;
			background: none;
			border: none;
			cursor: pointer;
			border-radius: 8px;
			box-shadow: 0px 0px 5px 0px rgba(134, 133, 133, 0.4);
			color: rgb(78, 75, 75);
			&_enabled {
				color: rgb(255, 255, 255);
				background-color: rgb(47, 203, 30);
			}
		}
		a {
			transition: background-color 0.5s;
			color: #000;
			text-decoration: none;
			font-size: 2.5rem;
			padding: 1em;
		}
	}
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 250px;
	height: 330px;
	margin: 1.5em;
	padding: 0 1.5em;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 32px 0px rgba(134, 133, 133, 0.4);
	&__disabled {
		color: rgb(143, 143, 143);
	}
	p {
		padding: 0.5rem;

		i.fa-check {
			color: rgb(47, 203, 30);
		}
	}
	&__title {
		text-align: center;
		font-size: 2.5rem;
	}
	&__price {
		font-weight: bold;
		text-align: center;
		font-size: 3rem;
	}
	&__btn {
		font-size: 1.5rem;
		margin-top: 1.5em;
		padding: 0.5em;
		background: none;
		border: none;
		cursor: pointer;
		border-radius: 8px;
		box-shadow: 0px 0px 5px 0px rgba(134, 133, 133, 0.4);
		color: rgb(78, 75, 75);
		&_enabled {
			color: rgb(255, 255, 255);
			background-color: rgb(47, 203, 30);
		}
	}
}
.card:last-child {
	p {
		text-align: center;
	}
}

.contact {
	background-color: rgb(246, 246, 246);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-bottom: 1px solid rgb(107, 107, 107);
	&__logo {
		display: none;
	}
	&__form {
		padding: 0.5em;
		text-align: center;

		p {
			padding: 0.5em;
		}
		p:first-child {
			font-weight: bold;
			font-size: 1.5rem;
		}
	}
}

.footer {
	padding: 1em;
	text-align: center;
	background-color: rgb(246, 246, 246);
}

//KONTAKT PAGE

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1em;
	&__title {
		text-align: center;
		font-size: 2.2rem;
		margin-bottom: 1em;
	}
	&__body {
		display: flex;
		flex-direction: column;
		padding: 2em;
		border: 1px solid rgb(131, 130, 130);
		box-shadow: 0 0 10px #000;
	}
	label {
		margin-bottom: 1em;
		display: inline-block;
	}
	input {
		width: 100%;
		padding: 1em;
		margin-bottom: 1em;
		font-size: 1.6rem;
		border: 1px solid rgb(197, 197, 197);
		border-radius: 5px;
	}
	textarea {
		width: 100%;
		overflow: hidden;
		height: 10em;
		resize: none;
		padding: 1em;
		margin-bottom: 1em;
		font-size: 1.6rem;
		border: 1px solid rgb(197, 197, 197);
		border-radius: 5px;
	}
	&__btn {
		margin: auto;
		padding: 0.5em;
		width: 100px;
		font-size: 1.6rem;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color 0.4s, color 0.4s;
	}
	&__btn:hover {
		background-color: #000000;
		color: #fff;
	}
}

@media (min-width: 992px) {
	.header {
		&__text {
			font-size: 2rem;
		}
	}
	h2 {
		font-size: 4rem;
	}
	.about {
		&__description {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		h3 {
			text-align: left;
			font-size: 3rem;
			margin: 0;
			padding-bottom: 2rem;
		}

		&__text {
			padding-left: 4rem;
			height: 400px;
			width: 500px;
			font-size: 2rem;
		}
		&__img {
			height: 400px;
			width: 700px;
			background-position: 50% 75%;
		}
	}
	.offer {
		&__cards {
			flex-direction: row;
		}
	}
	.nav-desktop {
		display: flex;
	}
	.burger-btn {
		display: none;
	}
	.separation {
		&__text {
			font-size: 1.5rem;
		}
	}
	.contact {
		justify-content: space-evenly;
		&__logo {
			display: block;
			padding-top: 1.5em;
			font-size: 2rem;
			margin-left: 4em;
		}
	}
	.form {
		&__title {
			text-align: center;
			font-size: 3rem;
			margin-bottom: 1em;
		}
		&__body {
			display: flex;
			flex-direction: column;
			padding: 3em;
			border: 1px solid rgb(131, 130, 130);
			box-shadow: 0 0 10px #000;
		}
		label {
			margin-bottom: 1em;
			display: inline-block;
		}
		input {
			width: 100%;
			padding: 1em;
			margin-bottom: 1em;
			font-size: 1.6rem;
			border: 1px solid rgb(197, 197, 197);
			border-radius: 5px;
		}
		textarea {
			width: 100%;
			overflow: hidden;
			height: 10em;
			resize: none;
			padding: 1em;
			margin-bottom: 1em;
			font-size: 1.6rem;
			border: 1px solid rgb(197, 197, 197);
			border-radius: 5px;
		}
		&__btn {
			margin: auto;
			padding: 0.5em;
			width: 100px;
			font-size: 1.6rem;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			transition: background-color 0.4s, color 0.4s;
		}
		&__btn:hover {
			background-color: #000000;
			color: #fff;
		}
	}
}
